body {
    background-color: #caebf2;
    color: #001f3f;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
}
button {
    margin: 2px;
    width: 100px;
    height: 100px;
    color:#caebf2;
    font-weight: bold;
    font-size: 25px;
    border-radius: 12px;
}
.numbers button{
    background-color: #001f3f;
}

.operators button{
    background-color: darkslategrey;
}